<div class="session back-session">
  <div class="session-content">
    <div class="session-wrapper">
      <md-card>
        <md-card-content>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="text-xs-center pb-1">
              <img src="assets/images/logo-ric.png" alt="" style="height: 80px;width: 80px;"/>
              <p class="mat-text-muted">Inicia sesión con tu ID de aplicación para continuar.</p>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-around">
              <div class="pb-1">
                <md-input-container style="width: 100%">
                  <input mdInput placeholder="Username" [formControl]="form.controls['uname']">
                </md-input-container>
                <small *ngIf="form.controls['uname'].hasError('required') && form.controls['uname'].touched" class="mat-text-warn">Username is required.</small>
              </div>
              <div class="pb-1">
                <md-input-container style="width: 100%">
                  <input mdInput type="password" placeholder="Password" [formControl]="form.controls['password']">
                </md-input-container>
                <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="mat-text-warn">Password is required.</small>
              </div>
              <button md-raised-button color="primary" type="submit" [disabled]="!form.valid">Inicia sesión</button>
            </div>
            <div class="pt-1 pb-1 text-xs-center">
              <a [routerLink]="['/session/forgot']">Se te olvidó tu contraseña?</a><br>
              <a [routerLink]="['/session/signup']">Regístrate para una nueva cuenta.</a>
            </div>
          </form>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
