<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="card-widget mat-teal">
      <div md-card-widget>
        <div md-card-float-icon>
          <md-icon>local_offer</md-icon>
        </div>
        <div class="pl-0">
          <h5 md-card-widget-title>103</h5>
          <p>Campaigns</p>
        </div>
      </div>
    </md-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="card-widget mat-purple">
      <div md-card-widget>
        <div md-card-float-icon>
          <md-icon>phone</md-icon>
        </div>
        <div class="pl-0">
          <h5 md-card-widget-title>230</h5>
          <p>Customers</p>
        </div>
      </div>
    </md-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="card-widget mat-red">
      <div md-card-widget>
        <div md-card-float-icon>
          <md-icon>notifications</md-icon>
        </div>
        <div class="pl-0">
          <h5 md-card-widget-title>323</h5>
          <p>Queries</p>
        </div>
      </div>
    </md-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="card-widget mat-indigo">
      <div md-card-widget>
        <div md-card-float-icon>
          <md-icon>email</md-icon>
        </div>
        <div class="pl-0">
          <h5 md-card-widget-title>870</h5>
          <p>Opens</p>
        </div>
      </div>
    </md-card>
  </div>
</div>

<div fxLayout="row" fxLayoutWrap="wrap">
	<div fxFlex.gt-sm="33.33%" fxFlex="100">
		<md-card>
      <md-card-subtitle fxLayout="row" fxLayoutAlign="start center">
        Revenue &nbsp; <span class="font-weight-bold mat-text-primary">+458,90</span>
        <span fxFlex></span>
        <button md-icon-button md-button-sm [md-menu-trigger-for]="card1" aria-label="Open card menu">
          <md-icon>more_vert</md-icon>
        </button>
      </md-card-subtitle>
      <md-menu #card1="mdMenu" x-position="before">
        <button md-menu-item>
          <md-icon>settings</md-icon>
          Settings
        </button>
        <button md-menu-item>
          <md-icon>more</md-icon>
          View More
        </button>
        <button md-menu-item>
          <md-icon>notifications_off</md-icon>
          Disable notifications
        </button>
        <button md-menu-item>
          <md-icon>exit_to_app</md-icon>
          Remove Panel
        </button>
      </md-menu>
			<md-card-content>
        <canvas height="200" baseChart class="chart"
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [colors]="chartColors"
          [legend]="barChartLegend"
          [chartType]="barChartType"></canvas>
      </md-card-content>
		</md-card>
	</div>
	<div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="50" fxFlex="100">
		<md-card>
      <md-card-subtitle fxLayout="row" fxLayoutAlign="start center">
        Yearly Sales &nbsp; <span class="font-weight-bold mat-text-warn">-46,68</span>
        <span fxFlex></span>
        <button md-icon-button md-button-sm [md-menu-trigger-for]="card2" aria-label="Open card menu">
          <md-icon>more_vert</md-icon>
        </button>
      </md-card-subtitle>
      <md-menu #card2="mdMenu" x-position="before">
        <button md-menu-item>
          <md-icon>settings</md-icon>
          Settings
        </button>
        <button md-menu-item>
          <md-icon>more</md-icon>
          View More
        </button>
        <button md-menu-item>
          <md-icon>notifications_off</md-icon>
          Disable notifications
        </button>
        <button md-menu-item>
          <md-icon>exit_to_app</md-icon>
          Remove Panel
        </button>
      </md-menu>
			<md-card-content>
        <canvas height="200" baseChart class="chart"
          [datasets]="ComboChartData"
          [labels]="comboChartLabels"
          [options]="ComboChartOptions"
          [colors]="chartColors"
          [legend]="comboChartLegend"
          [chartType]="barChartType"></canvas>
      </md-card-content>
		</md-card>
	</div>
	<div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="50" fxFlex="100">
		<md-card>
      <md-card-subtitle fxLayout="row" fxLayoutAlign="start center">
        Sales Report &nbsp; <span class="font-weight-bold mat-text-accent">+2,50%</span>
        <span fxFlex></span>
        <button md-icon-button md-button-sm [md-menu-trigger-for]="card3" aria-label="Open card menu">
          <md-icon>more_vert</md-icon>
        </button>
      </md-card-subtitle>
      <md-menu #card3="mdMenu" x-position="before">
        <button md-menu-item>
          <md-icon>settings</md-icon>
          Settings
        </button>
        <button md-menu-item>
          <md-icon>more</md-icon>
          View More
        </button>
        <button md-menu-item>
          <md-icon>notifications_off</md-icon>
          Disable notifications
        </button>
        <button md-menu-item>
          <md-icon>exit_to_app</md-icon>
          Remove Panel
        </button>
      </md-menu>
			<md-card-content>
        <canvas height="200" baseChart class="chart"
          [datasets]="bubbleChartData"
          [labels]="comboChartLabels"
          [options]="ComboChartOptions"
          [legend]="comboChartLegend"
          [chartType]="bubbleChartType"></canvas>
      </md-card-content>
		</md-card>
	</div>
</div>
