<md-toolbar color="primary">
  <md-toolbar-row>   
  </md-toolbar-row>
</md-toolbar>
<div  fxLayout="row"  fxLayoutWrap="wrap"  fxLayoutAlign="center start">
  <div fxFlex.gt-sm="80" fxFlex="100">
    <md-card class="mat-card-top">
      <md-card-title>Camptura de Persona</md-card-title>
      <md-card-subtitle></md-card-subtitle>
      <form>
        <md-card-content>
          <div class="mb-1">
            <md-input-container style="width: 100%">
              <input mdInput placeholder="CURP">
            </md-input-container>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" class="mb-3">
            <md-input-container class="ml-xs mr-xs" style="width: 100%;">
              <input mdInput placeholder="Apellido Paterno">
            </md-input-container>
            <md-input-container class="ml-xs mr-xs" style="width: 100%;">
              <input mdInput placeholder="Apellido Materno">
            </md-input-container>
            <md-input-container class="ml-xs mr-xs" style="width: 100%;">
              <input mdInput placeholder="Nombre">
            </md-input-container>
          </div>

          <div class="mb-1">
            <label>Genero</label>
            <md-radio-group>
              <md-radio-button value="male">Male</md-radio-button>
              <md-radio-button value="female">Female</md-radio-button>
            </md-radio-group>
          </div>

          <div class="mb-1">
            <md-input-container style="width: 100%">
              <input mdInput placeholder="Número de Celular" type="text">
            </md-input-container>
          </div>

          <div fxLayout="row" fxLayoutAlign="start center" class="mb-5">
            <md-input-container class="ml-xs mr-xs" style="width: 100%;">
              <input mdInput placeholder="Calle" type="text">
            </md-input-container>
            <md-input-container class="ml-xs mr-xs" style="width: 100%;">
              <input mdInput placeholder="Número" type="text">
            </md-input-container>
            <md-input-container class="ml-xs mr-xs" style="width: 100%;">
              <input mdInput placeholder="Colonia" type="text">
            </md-input-container>
            <md-input-container class="ml-xs mr-xs" style="width: 100%;">
              <input mdInput placeholder="Código postal" type="text">
            </md-input-container>
            <md-input-container class="ml-xs mr-xs" style="width: 100%;">
              <input mdInput placeholder="Localidad" type="text">
            </md-input-container>
          </div>

          <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
            <md-select placeholder="Estado" class="ml-xs mr-xs" style="width: 100%;">
              <md-option *ngFor="let drink of drinks" [value]="drink.value" [disabled]="drink.disabled">
                {{ drink.viewValue }}
              </md-option>
            </md-select>
                    <md-select placeholder="Municipio" class="ml-xs mr-xs" style="width: 100%;">
              <md-option *ngFor="let drink of drinks" [value]="drink.value" [disabled]="drink.disabled">
                {{ drink.viewValue }}
              </md-option>
            </md-select>
          </div>

          <div class="mb-1">
            <p>Imagen INE Frente</p>
            <input type="file" ng2FileSelect />
          </div>

          <div class="mb-1">
            <p>Imagen INE Reverso</p>
            <input type="file" ng2FileSelect />
          </div>

        </md-card-content>
        <hr>
        <md-card-actions>
          <button md-raised-button color="primary" type="submit">Guardar</button>
        </md-card-actions>
      </form>
    </md-card>
  </div>
</div>